<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dns.taxchina"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dns.taxchina.ui.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dns.taxchina.ui.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dns.taxchina.ui.DetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 课程列表 -->
        <activity
            android:name="com.dns.taxchina.ui.CourseListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 搜索结果 -->
        <activity
            android:name="com.dns.taxchina.ui.FindResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 学习记录 -->
        <activity
            android:name="com.dns.taxchina.ui.StudyRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 课程收藏 -->
        <activity
            android:name="com.dns.taxchina.ui.CourseCollectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 学员中心web -->
        <activity
            android:name="com.dns.taxchina.ui.CenterDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 播放视频 -->
        <activity
            android:name="com.dns.taxchina.ui.VideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 广告web-->
        <activity
            android:name="com.dns.taxchina.ui.ADWebActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- 登录 -->
        <activity
            android:name="com.dns.taxchina.ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <provider
            android:name="com.dns.taxchina.service.download.VideoContentProvider"
            android:authorities="com.dns.taxchina" >
        </provider>
    </application>

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>